<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Libra Component Version</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" th:href="@{/css/main.css}"
	href="../../css/main.css" />


<style>
td, th {
	padding: 8px;
	box-sizing: border-box;
	border-radius: 5px;
	white-space: nowrap;
}

th:nth-of-type(1n) {
	background-color: #e0e0e0;
}

td:nth-of-type(1n) {
	background-color: #def6fc;
}

</style>

</head>
<body>

	<div class="container">
		<p id="demo"></p>
		<table>
			<tr th:each="item : ${list}">
				<th>Name</th>
				<td><span th:text="${item.get('name')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>version</th>
				<td><span th:text="${item.get('version')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>build-number</th>
				<td><span th:text="${item.get('build-number')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>git-commit</th>
				<td><span th:text="${item.get('git-commit')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>project-version</th>
				<td><span th:text="${item.get('project-version')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>git-branch</th>
				<td><span th:text="${item.get('git-branch')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>time</th>
				<td><span th:text="${item.get('time')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>git-url</th>
				<td><span th:text="${item.get('git-url')}"></span></td>
			</tr><tr th:each="item : ${list}">
				<th>job-name</th>
				<td><span th:text="${item.get('job-name')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>build-date</th>
				<td><span th:text="${item.get('build-date')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>group</th>
				<td><span th:text="${item.get('group')}"></span></td>
			</tr>
			<tr th:each="item : ${list}">
				<th>artifact</th>
				<td><span th:text="${item.get('artifact')}"></span></td>
			</tr>
		</table>
	</div>

</body>
</html>
