<!DOCTYPE html>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css" type="text/css">

<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cypher Proctor</title>

    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Cypher</a>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="mainpage?typeOfUser=1"><span class="glyphicon glyphicon-home"></span> Back to Home</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class = "container">
            <h1>Problem Creation </h1>
        <hr>
        </div>
        <div class="container">
            <form action="/create_problem" method="post">
                <div class="form-group">
                    <label for="problemName">Problem Name:</label>
                    <input type="text" class="form-control" id="problemName" name="problemName" placeholder="Name" required>
                    <br>
                    <label for="problemDescription">Problem Description:</label>
                    <textarea class="form-control" id="problemDescription" name="problemDescription" rows="4" placeholder="Problem Description"></textarea>
                    <br>
                    <label for="problemTestCode">Problem Test Code:</label>
                    <textarea class="form-control" id="problemTestCode" name="problemTestCode" rows="4" placeholder="Problem Test Code"></textarea>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default" name="mainpage" value="Log In">Create Problem!</button>
                </div>
            </form>        
        </div>
        
        
        
    </body>
</html>