<!DOCTYPE html>
<html>
<head>
	<title>User UI</title>
</head>
<body>
<h2>Text field</h2>

<p>The <strong>input type=&quot;text&quot;</strong> defines a one-line text input field:</p>

<form action="/submission" enctype="multipart/form-data" method="post"><select name="language"><option value="1">Python</option><option value="2">Java</option></select><br />
Application Code<br />
<br />
<textarea cols="100" name="applicationCode" rows="10"></textarea><br />
<br />
<textarea name="test"></textarea><br />
<br />
<input name="submission" type="submit" value="Submit" />&nbsp;</form>
</body>
</html>
