<!DOCTYPE html>
<html>
   <head>
      <title>User UI</title>
   </head>
   <body>
      <h2>Log In Page</h2>
      <form action="/mainpage" method="get">
         <br />
         Log in
         <br />
         <br />
         Username
         <br />
         <textarea cols="10" name="userName" rows="1"></textarea>
         <br />
         Password
         <br />
         <textarea cols="10" name="password" rows="1"></textarea>
         <br />
         <input name="mainpage" type="submit" value="Log in" />&nbsp;
      </form>
   </body>
</html>