<!DOCTYPE html>
<html>
<head>
    <title>Cypher: Log-in</title>
    <link href="styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<div class = "header">
    <a style="font-weight: 600" href='index.html'>Cypher Contest Management System</a>
    <a style="float:right;" href='index.html'>Login</a>
</div>
<body>
    <h1 style="margin-top:50px;">Login:</h1>
    <form action="/mainpage" method="get">
        <h3>Username: <input type="text" class="loginTextBoxes" required placeholder="Username"></h3>
        <br />
        <h3>Password:  <input type="password" class="loginTextBoxes" required placeholder="Password"></h3>
        <br /><br /><br />
        <input class="submitButton" name="mainpage" type="submit" value="Log in" />&nbsp;
    </form>
</body>
</html>