<!DOCTYPE html>
<html>
<head>
	<title>Cypher-Create-a-Problem</title>
    <link href="styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<div class = "header">
    <a style="font-weight: 600" href='home.html'>--Cypher-CMS--</a>
    <a style="float:right;" href='login.html'>Login</a>
    <a style="float:right;" href='grading-module.html'>Grading Module</a>
</div>
<body>
    <h1 style="margin-top:50px;">Create a Problem</h1>
    <form action="/submission" enctype="multipart/form-data" method="post">
        <p>You can create a problem manually or upload a file which describes the problem.
        To manually specify a problem, fill out the text field below with the problem description and select "Submit". To provide a problem
        file, choose a file and then select "Submit".</p>
        <textarea class="problemTextBoxes" placeholder="Provide a problem description" cols="100" name="applicationCode" rows="10"></textarea>
        <input class="fileUploadButton" name="submission" type="file" value="Submit" />&nbsp;<br><br><br>
        <div class="probNumberDropdwn">
            <select required name="problem-number">
            	<option selected hidden>Problem Number <span class="redStar">*</span></option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
        	</select>
        </div>
        <br><br><br><br>
        <input class="submitButton" name="submission" type="submit" value="Submit" />&nbsp;</form><br><br><br><br><br>
    <p><i>Note: Fields marked with <span class="redStar">*</span> are required</i></p>
</body>
</html>
