html
{
    width:100%;
    height: 100%;
}
.header
{
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0; 
    width: 100%; 
}

.header a
{
    float: left;
    display: block;
    color: #161925;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "Helvetica";
    color: white;
}

.header a:hover
{
    background-color: #404E5C;
    color: white;
}

body 
{
    display: block;
    width:100%;
    float: left;
    margin: 0;
    background-color: #B5BFBD;    
}
body h1
{
    font-family: "Helvetica";
    margin-left:10%;
}
body h2
{
    font-family: "Helvetica";
    margin-left:10%;
}
body form h3
{
    display:inline-block;
    vertical-align: center;
    font-family: "Helvetica";
    margin-left:10%;
}

.problemTextBoxes
{
    display: block;
    margin-left:10%;
    margin-bottom:10px;
    background-color: #D1D1D1;
    border-color: #161925;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    resize: none;

}
.homeTextBoxes
{
    display: block;
    margin-left:10%;
    margin-bottom:10px;
    background-color: #D1D1D1;
    border-color: #161925;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    resize: none;
}
.loginTextBoxes
{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 10px;
    background-color: #D1D1D1;
    border-color: #161925;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    resize: none;
}

body pre
{
    display: block;
    margin-left:10%;
    margin-bottom:10px;
    padding: 10px;
    background-color: #D1D1D1;
    border-color: #161925;
    border-style: solid;
    border-width: 2px;
    overflow: auto;
    resize: none;
    width:75%;
}
body p
{
    font-family: "Helvetica";
    margin-left:10%;
    margin-right:50%;
}
.redStar
{
    display: inline-block;
    color:red;
}
.dropdown
{
    border: 1px solid #ccc;
    margin-left:10%;
    margin-bottom: 5px;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}
.dropdown select 
{
    
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.dropdown select:focus {
    outline: none;
}
.submitButton
{
    margin-left: 10%;
	border-top:		1px solid #a3ceda;
	border-left:		1px solid #a3ceda;
	border-right:		1px solid #4f6267;
	border-bottom:		1px solid #4f6267;
	padding:		5px 24px;
	font-size:		14px;
	background-color:	#ffffff;
	font-weight:		bold;
	color:			#2d525d;
}
.fileUploadButton
{
    margin-left: 8.5%;
    padding:        5px 24px;
    font-size:      14px;
    font-weight:        bold;
    color:          #2d525d;   
}
.probNumberDropdwn
{
    border: 1px solid #ccc;
    margin-left:10%;
    margin-bottom: 5px;
    width: 140px;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa url("data:image/png;base64,R0lGODlhDwAUAIABAAAAAP///yH5BAEAAAEALAAAAAAPABQAAAIXjI+py+0Po5wH2HsXzmw//lHiSJZmUAAAOw==") no-repeat 90% 50%;
}
.probNumberDropdwn select 
{
    
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}
.probNumberDropdwn select:focus {
    outline: none;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}
