<!DOCTYPE html>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script><link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="styles.css" type="text/css">

<html lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cypher</title>
    
    
    <body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">Cypher</a>
                </div>
                <div class="navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/create_solution"><span class="glyphicon glyphicon-plus"></span> Submit Solution</a></li>
                    </ul>
                </div>
            </div>
        </nav><div class="container">
            <h1>Your Submitted Solutions</h1>
            <hr>
            <p class="well well-sm">Below are all the solutions you've submitted to the cypher software competition software</p>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tr style="background-color: lavender">
                        <th>Solution Name</th>
                        <th>Solution Code</th>
                        <th>Problem Name</th>
                        <th>Score Recieved</th>
                    </tr>
                    <tr>
                        <td>Our_Solution1</td>
                        <td><a href="#">Link to Code</a></td> 
                        <td>Elvis Needs Boats</td>
                        <td>0.20132</td>
                    </tr>
                    <tr>
                        <td>The BEst solution</td>
                        <td><a href="#">Link to Code</a></td> 
                        <td>Elvis Needs Boats</td>
                        <td>0.41162</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="container">
            <h1>Problem Set</h1>
            <hr>
            <p class="well well-sm">Below are all current problems actively running on Cypher. Click the links in the problem description and test code columns to download them.</p>
        </div>
        <div class="container">
            <div class="table-responsive">
                <table class="table table-hover table-bordered">
                    <tr style="background-color: lavender">
                        <th>Problem Name</th>
                        <th>Author</th>
                        <th>Problem Description</th> 
                        <th>Problem Testing Code</th>
                    </tr>
                    <tr>
                        <td>Elvis Needs Boats</td>
                        <td>Amos</td> 
                        <td><a href="#">Link to PDF</a></td>
                        <td><a href="#">Link to Testing Code</a></td>
                    </tr>
                    <tr>
                        <td>Austin Needs Sleep</td>
                        <td>Austin</td> 
                        <td><a href="#">Link to PDF</a></td>
                        <td><a href="#">Link to Testing Code</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>