<!DOCTYPE html>
<html>
<head>
	<title>Cypher</title>
	<link href="styles.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
	<div class = "header">
    	<a style="font-weight: 600" href='home.html'>--Cypher-CMS--</a>
   		<a style="float:right;" href='scores.html'>Scores</a>
    	<a style="float:right;" href='/'>Login</a>
	</div>
	</br>
	</br>
	<p>here should be displayed all the problems</p>
	<form action="/create_problem" method="get">
		<input class="submitButton" name="createProblme" type="submit" value="Create Problem" />&nbsp;
	</form>
</body>
</html>
